@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



:root{
    --main-font: 'Lato', sans-serif;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    /* --secondary-font-color: #c59d5f; */
    --secondary-font-color:  rgb(228, 70, 70);
    --body-font-color: #515151;
}

html {
    overflow-x: hidden;
    font-family: var(--body-font);
    color: var(--body-font-color);
    scroll-behavior: smooth;

}

.offset:before {
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}

/* Navigation */

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6)!important ;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;

}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover  {
    color:  rgb(228, 70, 70);

}

/* Landing Page */

.home-inner {
    background-image: url(img/computers.png);
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption .container{
    display: flex;
    flex-direction: column;
}


.caption h1 {
    font-size: 3.8rem;
    font-weight: 600;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: .1.5s;
}

/* .caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
} */

.caption span {
    color: rgb(228, 70, 70)
    
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;

}

.line {
    width: 100%;
    max-width: 10rem;
    height: .25rem;
    background-color: var(--secondary-font-color );
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: .9s;
}

.line-right::before,
.line-left::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
    color: var(--secondary-font-color );
}

.asterisk {
    font-size: 1.2rem;
    color: whitesmoke;
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin .5s forwards;
    animation-delay: .7s;
}

.single-animation {
    opacity: 0;
    animation: fadeDown .7s forwards;
    animation-delay: .5s;
}

.headline-description h5 {
    font-size: 1.8rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
    font-weight: 500;
    letter-spacing: 3px;

}

.btn-lg {
    border-width: medium;
    text-transform: uppercase;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
    font-weight: 600;
    transition: .7s;
}

/* About section */

.description-text {
    margin-bottom: 3rem;
}

.description-text p {
    line-height: 1.6;
    margin-bottom: 2.4rem;
}

.description-img img {
    max-width: 100%;
}



/* Portfolio section */

.narrow {
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.narrow .carousel-container {
    width: 55%;
}

.carousel-item{
    height: 540px;
    width: 100%;
    text-align: center;
    background-color: rgb(48, 47, 47);
} 
.carousel-item img{
    min-width: 100%;
    min-height: 400px;
    max-width: 100%;
    max-height: 400px;
}

.carousel-caption h5 {
    color: whitesmoke;
    font-weight: 700;
}

.carousel-caption p {
    color: whitesmoke;
}

.list-projects {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    justify-content: center;
}

.card {
    margin: 5px;
    background-color: rgb(48, 47, 47);
    color: whitesmoke;
}



.card h5 {
    font-weight: 700;
}

.card a {
    color: rgb(228, 70, 70);
}

.card a:hover {
    color: whitesmoke
}

/* Technologies section */

.jumbotron {
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}

h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: var(--secondary-font-color);;
    margin: 0 auto 2rem;

}

/* Technologies section */

.fixed {
    background-image: url(img/apple.png);
    z-index: -1;
}

.dark {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 7rem 2rem;
}

.fixed-background h3 {
    margin-bottom: 2rem;
}

.fixed-background p {
    margin-top: 1.5rem ;
}

.feature img {
    max-width: 25%;
    min-width: 25%;
}

.col-md-2 h5 {
    padding-top: 0.5rem;
}

.spFeature img {
    max-width: 25%;
    min-width: 25%;
    border-radius: 50%;
}

.first {
    display: flex;
    flex-wrap: wrap;
}

/* Contact section */

footer {
    background-color: var(--main-font-color-dark);
    color: whitesmoke;
    padding: 2rem 0 2rem;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}

footer a {
    color: whitesmoke;
    opacity: .5;
    transition: .5s;
}

footer a:hover,
footer a:focus {
    color: var(--secondary-font-color);
}

footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}

.footer-content-about {
    margin-bottom: 2.4rem;
}

.footer-content-about p {
    line-height: 2;
}

.social-media {
    margin-bottom: 2.4rem;
}
.back-to-top {
    width: 7rem;
    height: 7rem;
    background-color: var(--main-font-color-dark);
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.back-to-top i {
    display: block;
    color: whitesmoke;
    font-size: 2rem;
    padding: 2rem;
    animation: up .2s infinite;
}

hr.socket {
    width: 100%;
    border-top: .1rem solid var(--secondary-font-color);
    margin-top: .3rem;
}



/* Media queries */

@media (max-width: 767px) {

    .narrow .carousel-container {
        width: 100%;
    }

    .caption {
        width: 100%;
        max-width: 100%;
        position: absolute;
        top: 38%;
        z-index: 1;
        color: white;
        text-transform: uppercase;
    }
    
    .caption h1 {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: 0.5rem;
    }
    
    .caption h3 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }
    
    .btn-lg {
        padding: .5rem 1rem;
        font-size: 1rem;
    }

    .feature img {
        max-width: 12.5%;
        min-width: 12.5%;
    }

    .spFeature img {
        max-width: 12.5%;
        min-width: 12.5%;
    }

    /* .logo-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5;
    } */

    footer a {
        opacity: 9;
    }

}

/* Animations */

@keyframes fadeUp {
    0%{
        transform: translateY(4rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes grow {
    0%{
        width: 0;
    }

    100%{
        opacity: 1;
        width: 100%;
    }
}

@keyframes fadeDown {
    0%{
        transform: translateY(-1rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }

    100%{
        opacity: 1;
        transform: rotate(-360deg);
    }
}

@keyframes up {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}


